{% extends 'base.html' %}
{% block title %} BKL Movie Streaming Service {% endblock %}
{% block content %}
  <div class="app-content-desc">
  <div class="app-content-row">
    <span class="topic-style">{{movie.movie_name}}</span>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 block-center">
      <div class="img-wrapper">
        <img src="{{movie.movie_thumbnail.url}}" alt="image" class="img-poster-desc center-block">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div class="right-block">
        <div class="row cell">
          <div class="instrinsic-container">
            <iframe src="{{movie.movie_teaser_url}}" ></iframe>
          </div>
        </div>
        {% if user.is_authenticated %}
        <div class="row cell">
          <button class="btn btn-green" type="button" data-toggle="modal"
          data-target="#watchOnline"><span class="glyphicon glyphicon-play"></span> Watch Online</button>

          <a class="btn btn-green" href="{% url 'movie:download_api' movie.id%}"><span class="glyphicon glyphicon-save"></span> Download</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row desc-style">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <p>
        <span class="movie-genre">Genre : </span>
        <span>{{movie.genre}}</span>
      </p>
      <p>
        <span class="movie-year">Year : </span>
        <span>{{movie.release_year}}</span>
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <p>
        <span class="movie-desc">Description : </span>
        <span>{{movie.movie_description}}</span>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block player %}
<div id="watchOnline" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <video controls preload=metadata poster="{{movie.movie_thumbnail.url}}">
          <source src="{{movie.movie_file.url}}" type="video/mp4">
      </video>
    </div>
  </div>
</div>
{% endblock %}
 <!-- width="560" height="315" frameborder="0" -->
