{% extends 'base.html' %}
{% block title %} BKL Movie Streaming Service {% endblock %}
{% block content %}
<div class="app-content-desc">
  <div class="app-content-row">
    <span class="topic-style">{{movie.movie_name}}</span>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 block-center">
      <div class="img-wrapper">
        <img src="{{movie.movie_thumbnail.url}}" alt="image" class="img-poster-desc center-block">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div class="right-block">
        <div class="row cell">
          <div class="instrinsic-container">
            <iframe src="{{movie.movie_teaser_url}}" ></iframe>
          </div>
        </div>
        {% if user.is_superuser or user.is_authenticated and own %}
        <div class="row cell">
          <button id = "clickWatch" class="btn btn-small btn-green" type="button" data-toggle="modal"
          data-target="#watchOnline"><span class="glyphicon glyphicon-play"></span> Watch Online</button>

          <a class="btn btn-small btn-green" href="{% url 'movie:download_api' movie.id%}"><span class="glyphicon glyphicon-save"></span> Download</a>
          <button id = "clickReview" class="btn btn-small btn-green" type="button" data-toggle="modal"
          data-target="#review"><span class="glyphicon glyphicon-star"></span> Review</button>
        </div>
        {% endif %}
        {% if not own and not user.is_superuser %}
        <form id="form-buy" action="{% url 'movie:buy_api' movie.id %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <button type="button" id='btn-buy' class="col-xs-12 btn btn-green"><span class="glyphicon glyphicon-usd"></span> Buy {{movie.movie_price}} Baht</button>
            </div>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row desc-style">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <p>
        <span class="movie-genre">Genre : </span>
        <span>{{movie.genre}}</span>
      </p>
      <p>
        <span class="movie-year">Year : </span>
        <span>{{movie.release_year}}</span>
      </p>
      <p>
        <span class="movie-rating">Rating : </span>
        <input type="hidden" class="rating" data-readonly value="{{rating}}"/>
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <p>
        <span class="movie-desc">Description : </span>
        <span>{{movie.movie_description}}</span>
      </p>
    </div>
  </div>
</div>

{% include 'buy_modal.html' %}

{% endblock %}

{% block player %}
<div id="watchOnline" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <video id = "iframe" controls preload=metadata poster="{{movie.movie_thumbnail.url}}">
        <source src="{{movie.movie_file.url}}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>

  <div class="modal fade" id="review" tabindex="-1" role="dialog" aria-labelledby="review-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p class="modal-title" id="review-modal-label">Review</p>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="review-form" action="{% url 'movie:rating_api' movie.id %}" method="post">
            {% csrf_token %}
            <div class = "modal-input-field">
              <div class="form-group form-rating">
                <input type="hidden" class="rating" name="rating"/>
              </div>

              <div class="modal-input-button">
                <div class="form-group">
                  <button type="submit" class="col-xs-12 btn btn-modal">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
    $(function(){
      $('#watchOnline').modal({
        show: false
      }).on('hidden.bs.modal', function(){
        $(this).find('video')[0].pause();
      });

      $('#btn-buy').click(function() {
        $('#buy-modal').modal('toggle')
      })

      $('#btn-buy-confirm').click(function() {
        $('#form-buy').submit()
      })

      $('#btn-buy-discard').click(function() {
        $('#buy-modal').modal('hide')
      })

      // $('.rating').on('change', function () {
      //   alert($(this).val());
      // });

    });
    </script>
    {% endblock %}
    <!-- width="560" height="315" frameborder="0" -->
