<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Filter</title>
  </head>
  <body>
    <form action="{% url 'movie:filter' %}" method="post">
      {% csrf_token %}
      <select name="dropdown_genre" onchange="form.submit();">
        <option value=0>All movies</option>
        {% for genre in all_genres %}
          {% if selected_genre and genre == selected_genre %}
            <option value={{genre.id}} selected="selected">{{genre.genre_name}}</option>
          {% else %}
            <option value={{genre.id}}>{{genre.genre_name}}</option>
          {% endif %}
        {% endfor %}
      </select>

      <select name="dropdown_sortby" onchange="form.submit();">
        {% if selected_sortby is None or selected_sortby == "movie_name" %}
          <option value="movie_name" selected="selected">A-Z</option>
          <option value="release_year">Release Year</option>

        {% elif selected_sortby == "release_year" %}
          <option value="movie_name">A-Z</option>
          <option value="release_year" selected="selected">Release Year</option>

        {% endif %}
      </select>

      <ul>
        {% for movie in all_movies %}
            <li>{{movie.movie_name}} ({{movie.release_year}})</li>
        {% endfor %}
      </ul>
    </form>
  </body>
</html>
