{% extends 'base.html' %}
{% block title %} BKL Movie Streaming Service {% endblock %}
{% block content %}
    <div class="app-content-row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><span class="topic-genre">All Movies</span></div>
      <form action="{% url 'movie:filter' 'all' 'movie_name' %}" method="post">
        {% csrf_token %}
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><button type="submit" class="btn btn-seemore ">See More</button></div>
      </form>

    {% for movie in all_movies %}
      {% include "card.html" %}
    {% endfor %}
    </div>

    {%for  genre,movies in list_movies.items %}
    <div class="app-content-row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><span class="topic-genre">{{genre}}</span></div>
      <form action="{% url 'movie:filter' genre|lower 'movie_name' %}" method="post">
        {% csrf_token %}
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><button type="submit" class="btn btn-seemore ">See More</button></div>
      </form>

      {% for movie in movies %}
          {% include "card.html" %}
      {% endfor %}
  </div>
  {% endfor %}
  </div>

{% endblock %}
