<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Form</title>
  </head>
  <body>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="register-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="login-modal-label">Login Form</h4>
          </div>
          <div class="modal-body">
            <form action="{% url 'movie:login_api'%}" method="post">
              {% csrf_token %}
              <div class="form-group row">
                <label for="input-username" class="col-xs-2 form-control-label">Username:</label>
                <div class="col-xs-10">
                  <input id="input-username" class="form-control" name="username" placeholder="Username"/>
                </div>
              </div>

              <div class="form-group row">
                <label for="input-password" class="col-xs-2 form-control-label">Password:</label>
                <div class="col-xs-10">
                  <input id="input-password" class="form-control" name="password" placeholder="Password"/>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-xs-offset-5 col-xs-2">
                  <input type="submit" value="Login"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
