{% extends 'base.html' %}
{% block title %} BKL Movie Streaming Service {% endblock %}
{% block content %}
<div class="app-content-desc clearfix">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Privacy Policy</h2>
    <ul>
      <li>
        <h3>Security</h3>
        <p>We take the safety of our members very seriously around here. We guarantee that we won't give your information to anyone.</p>
      </li>

      <li>
        <h3>The Information We Collect</h3>
        <p>We only collect the needs information from you. We kept your account so you can login to our website. In the future we might collect your transaction and search data so we could use them to recommend the movies for you :D</p>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
