<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Receipt</title>

    {% load staticfiles %}
    <link href="{% static 'stylesheets/receipt.css' %}" rel="stylesheet">
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <a>BKL</a>
                            </td>

                            <td>
                                Invoice #: {{transaction.id}}<br>
                                Created: {{transaction.timestamp}}<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                BKL Corp.<br>
                                {{user.username}}<br>
                                {{user.email}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>
                    Item
                </td>

                <td>
                    Price
                </td>
            </tr>

            <tr class="item">
                <td>
                    Your Balance
                </td>

                <td>
                    ${{before}}
                </td>
            </tr>

            <tr class="item_last">
                <td>
                    {{movie.movie_name}}
                </td>

                <td>
                    ${{movie.movie_price}}
                </td>
            </tr>

            <tr class="total">
                <td></td>

                <td>
                   Total: ${{remaining}}
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
