.modal-header{
  color: white;
  background-color: #900C3F;
}

.modal-body{
  background-color: #333333;
  padding: 5% 10%;
}

.modal-body label{
  color: #FFF;
  font-weight: bold;
}

.modal-body button{
  padding: 10px 0;
}

.modal-body .modal-input-field{
  margin-bottom: 20px;
}

.modal-body .modal-text {
  color: white;
}

.modal-title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.btn-modal {
  color: white;
  background-color: #900C3F;
}

.btn-modal:hover {
  color: white;
  background-color: #68082d;
}

.btn-modal:active {
  color: white;
  background-color: #900C3F;
}

.btn-modal:focus {
  color: white;
  background-color: #900C3F;
}

.btn-modal:active:hover {
  color: white;
  background-color: #68082d;
}
