.modal-header{
  background-color: #df2027;
}

.modal-body{
  background-color: #333333;
  padding: 5% 10%;
}

.modal-body label{
  color: #FFF;
  font-weight: bold;
}

.modal-body button{
  padding: 10px 0;
}

.modal-body .modal-input-field{
  margin-bottom: 20px;
}

.modal-title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
