body{
  background-color: #EAEAE9;
}

.navbar-style {
  background-color: #900C3F;
}

.navbar-style .navbar-brand {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.btn-search, .btn-search:hover, .btn-search:focus, .btn-search:active  {
  color: white;
  background-color: #900C3F;
}

.navbar-default .navbar-nav > li > a , .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:visited {
    color: white;
}

.app-content {
  padding-top: 70px;
}

.app-content .card{
  /*border-style: solid;
  border-color: #000;*/
  border-width: 2px;
  height: 400px;
  background-color: #fff;
  margin-top: 20px;
}
.app-content .card .movie-name{
  font-size: 20px;
  padding-left:  5px;
}
.app-content .card .movie-genre{
  font-size: 15px;
  padding-left:  5px;
}

.app-content .card img{
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  /*height : 311.55px;
  width : 218.55px;*/
}
.app-content .topic-genre{
  font-size: 30px;
}
.app-content .btn-seemore{
  text-align: right;
  background-color: #900C3F;
  color: #fff;
  border-color: #fff;
  border-radius: 0;
  font-size: 15px;
  margin-top: 10px;
}

.img-poster-desc{
  width: 70%;
  object-fit: cover;
  overflow: hidden;
}
